@using IdentityServer7.EntityFramework.Storage.Entities;
@model IEnumerable<ApiScope>
@{
    ViewData["Title"] = "ApiScope";
}
<h1>@ViewData["Title"]</h1>
<hr />
<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="table-responsive">
    <table class="table table-hover">
        @*    <caption>List of users</caption>*@
        <thead class="table-light">
            <tr>
                <th>
                    #
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DisplayName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Required)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.ShowInDiscoveryDocument)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Enabled)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                int index = 1;
            }
            @foreach (var item in Model)
            {

                <tr scope="row">
                    <th scope="row"> @index </th>
                    <td>
                        @Html.DisplayFor(model => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.DisplayName)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(model => item.Description)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(model => item.Required)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(model => item.ShowInDiscoveryDocument)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(model => item.Enabled)
                    </td>

                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>|
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>

                index++;
            }
        </tbody>
    </table>
</div>

